<!DOCTYPE html>
<html lang="en">
      <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" type = "image/png" href="../img/gullwing-icon.png" />

<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-BGXW90V3SE">
</script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-BGXW90V3SE");
</script>

</head>

<body>

  <script>
    // When the user scrolls the page, execute myFunction 
    window.onscroll = function() {myFunction()};

    function myFunction() {
      var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var scrolled = (winScroll / height) * 100;
      document.getElementById("myBar").style.width = scrolled + "%";
    }
  </script>

<div class="page-banner">
  <nav>
    <a href="https://www.gullwing.io/">
      <img id="header-image" src="../img/gullwing-logo.png" alt ="Gullwing Logo">
    </a>  
  </nav>

  <div class="header">
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>  
  </div>
</div>



  <div class="mainBody">
    {{{mainContent}}}
  </div>
</body>

